llama-index
google-generativeai
llama-index-llms-gemini
pypdf
python-dotenv
IPython
llama-index-embeddings-gemini
streamlit
streamlit-option-menu
py2neo
pyvis


neo4j-driver
gradio
langchain==0.1.16
google-cloud-aiplatform
langchain-community
langchain-google-vertexai
sentence-transformers
-U langchain-community

SpeechRecognition
gTTS
python-docx
langchain-groq
langchain-experimental
